*{
    background-color: rgb(235, 230, 223);
    
}
.main{
    border: 2px solid #000;
    padding: 50px;
    margin: 70px;
    font-size: 18px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:15px
}
.bold{
    font-weight: bold;
    
}
li{
    margin-bottom: 30px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
